.bgstrip{ background-repeat:repeat-y; margin-bottom: 150px;}
.challenge{ font-size: 30px; line-height: 30px; color: #fff; font-weight: 400; padding-top: 40px; padding-bottom: 40px; }
.inner-container{ width:1170px; margin:0px auto;}

@media only screen and (min-width:1025px) and (max-width:1200px){
    .inner-container{ width:950px;}
    }
@media only screen and (min-width:768px) and (max-width:1024px){
    .inner-container{ width:750px; margin:0px auto;}
    }
    @media only screen and (min-width:0px) and (max-width:767px){
    .inner-container{ width:100%; margin:0px auto;}
    .challenge{padding-top: 40px; padding-bottom: 40px; padding-left: 15px; padding-right: 15px; }

    }